<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <connectionStrings>
    <!--<add name="CapstoneConnectionString" connectionString="Data Source=localhost;Initial Catalog=Capstone;Integrated Security=True"
        providerName="System.Data.SqlClient" />-->
    <add name="RDSConnectionString"
     connectionString="server=capstone.cryquvejyjy3.us-east-1.rds.amazonaws.com,1433;database=Capstone;uid=admin;password=gummyworms1!;" />
  </connectionStrings>
  <!--<system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>-->

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
</configuration>